.image-style {
    height: 650px;
    background-size: cover;

}

.block-style{
    display: flex;
    width: 100%;
}

.block-style-img{
    height: 230px;
    width: auto;
}

.myfooter {
    background-color: #212529;
    color: #ffffff;
    width: 100%;
    padding: 2px;
    height: 50px;
    margin-bottom: 0;
}

.navtext {
    font-size: 15px;
}

.mygallery {
    margin-top: 90px;
    padding-bottom: 45px;
}

.gallery-11 {
    float: left;
}

.gallery-img {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.my-video {
    height: 600px;
    width: 100%;
}

.about-block-3 {
    margin-top: 50px;
    height: 650px;
    width: 100%;

}

.heading-style {
    margin-top: 90px;
    padding: 0;
    height: 350px;
}

.amenities-1-block {
    width: 35%;
}


.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

section {
    padding-bottom: 60px;
}

/*иконки*/

.whatsapp:hover, .facebook:hover,
.instagram:hover, .telegram:hover {
    fill: #727272;!important;
    text-decoration: none;
    transition-duration: 1s;
    color: #727272;
}

.my-none {
    display: none;
}