{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella Tower - About</title>{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}
     <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                     <h1 class="display-5 text-uppercase mb-4">INVITATION TO THE SOPHISTICATED ITALIAN LIVING BY PIERO LISSONI</h1>
                    <div class="px-4">
                        <p class="about-text fs-4 mb-4">Incredible luxury romanticism, combined with classical traditions and the cult of family life, reflected in every detail of the interior,  - is your  choice of the unsurpassable Italian style. </p>
                        <p class="about-text fs-4">Everything you need to experience   "la dolce vita” (the sweet life) are here:  light-flooded interiors, exotic garden-filled grounds, beautiful poolside lounges with a Mediterranean café and craft cocktails and other  superb amenities.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/about-block-1.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="container mb-4">
            <p class="display-5 pb-2">Design for Life</p>
        </div>
        <div>
            <iframe  class="my-video" src="https://www.youtube.com/embed/guVHII0gXqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <section>
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/1block.jpg' %}); margin-left: 6%"></div>
            </div>
            <div class="col-lg-6 info">
                <div class="container text-left element-animation">
                    <h1 class="display-5 text-uppercase mb-4">Brand: B&B Italia </h1>
                    <p class="about-text mb-3 fs-4">A word famous Italian modern furniture company, founded in 1966 by Piero Ambrogio Busnelli, always relies on innovative approaches in production of contemporary pieces.</p>
                    <p class="about-text mb-3 fs-4">The result of the  iconic products creation   is achieved through the  efficient collaboration of the company’s Research & Development Center with advanced international design professionals.</p>
                    <p class="about-text mb-3 fs-4">For years the fruitful practice work of this   workshop for ideas and excellence  has influenced the world history of design.</p>
                    <p class="about-text fs-4">It is no coincidence that B&B Italia  has received numerous awards including  the most prestigious award to a design manufacturing company "Compasso d'oro" (Golden Compasses) -  four times.</p>
                </div>
            </div>
        </div>
    </section>

    <section style="padding-bottom: 0">
        <div style="
                background-image: url({% static 'main/img/about-block-4.jpg' %});
                height: 90vh;
                background-size: cover;
                background-attachment: fixed;
                background-position: bottom;
                ">
{#            <img class="about-block-3" src="{% static 'main/img/about-block-4.jpg' %}" alt="">#}
        </div>
    </section>

{% endblock %}