{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella - DEVELOPERS</title>{% endblock %}
{% block activ-developers %}active{% endblock %}

{% block content %}
    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-5 text-uppercase mb-3">team</h1>
                    <p class="fs-5 about-text text-uppercase mb-3">Created by the most talanted  masters of contemporary design, Casa Bella Residence by B&B Italia  is like a compelling "Italian Prima Donna" in Miami.</p>
                    <p class="fs-5 about-text text-uppercase mb-3">The world - renowned and  revered Italian architect Piero Lissoni, whose distinguished stylistic cod  is recognizable  in its chic, elegance, trendy ingenuity,  harmony and particular attention to details, was among creative developers and artists of this amazing masterpiece.</p>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/piero-lissoni.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>

    <section style="padding-bottom: 5px">
        <div class="text-center element-animation">
            <hr class="mb-4">
            <h4 class="fs-5 about-text text-uppercase mb-4">Stay here and  get a personal experience of exquisite Italian charm in home design!</h4>
            <hr class="mb-1">
        </div>
    </section>

    <div class="page-content section-team" style="padding-bottom: 0">
        <div class="container">
            <h3 class="display-5">Related Group</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-5" style="margin-right: 25px;">
                        <img src="{% static 'main/img/developers-1.jpg' %}" class="img-fluid rounded-start mb-1" alt="">
                    </div>
                    <div class="col-md-5 element-animation">
                        <div>
                            <h5 class="card-title display-6 mb-2">DEVELOPERS</h5>
                            <p class="card-text text-muted fs-3 mb-4">
                                Armani/Casa Residences
                            </p>
                        </div>
                        <p class="card-text fs-5">
                            Established by Jorge Pérez in 1979, the Related Group  is one of the largest real estate
                            businesses in the United States with decades of experience in reshaping the South Florida skyline.
                        </p>
                        <p class="card-text fs-5">
                            The deserved recognition of the Related Group is increasing  because of the firm's  new
                            approaches in development of luxury condominiums, hotels, commercial spaces and rental apartment buildings.
                        </p>
                        <p class="card-text fs-5">
                            Partnerships with the best world's architects, designers, and artists allow to incorporate
                            high class amenities and museum quality art into exquisite living and working environments.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team" style="padding-bottom: 0">
        <div class="container">
            <h3 class="display-5">Alta Developers</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-5" style="margin-right: 25px;">
                        <img src="{% static 'main/img/developers-2.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5 element-animation">
                        <div>
                            <h5 class="card-title display-6 mb-2">DEVELOPER</h5>
                            <p class="card-text text-muted fs-3 mb-4">
                                250 Bird</p>
                        </div>
                        <p class="card-text fs-5">Involved in the creation of the South Florida most notable iconic
                            landmark properties, Alta Developers, a real estate developer, has secured its reputation
                            through a commitment to ecological sustainability and cultural integrity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team" style="padding-bottom: 0">
        <div class="container">
            <h3 class="display-5">Alta Developers</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-5" style="margin-right: 25px;">
                        <img src="{% static 'main/img/developers-3.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5 element-animation">
                        <div>
                            <h5 class="card-title display-6 mb-2">ARCHITECTURE</h5>
                            <p class="card-text text-muted fs-3 mb-4">
                                The Ellipse New Jersey, NJ</p>
                        </div>
                        <p class="card-text fs-5 ">Expressive 'high tech' modernism, bold solutions in the
                            groundbreaking  use of color, light and shape - are the main features of Arquitectonica's signature style.</p>
                        <p class="card-text fs-5 ">Led by Principals Bernardo Fort-Brescia and Laurinda Spear,
                            Arquitectonica is creating a new kind of modern aesthetic in perception of building surface.</p>
                        <p class="card-text fs-5 ">Being an international architecture, landscape architecture,
                            interior design, and urban planning design firm, Arquitectonica has been engaged in
                            upgrading of Miami’s cityscape  since 1977.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team" style="padding-bottom: 0">
        <div class="container">
            <h3 class="display-5">Lissoni & Partners</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-5" style="margin-right: 25px;">
                        <img src="{% static 'main/img/developers-4.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5 element-animation">
                        <div>
                            <h5 class="card-title display-6 mb-2">INTERIORS</h5>
                            <p class="card-text text-muted fs-3 mb-4">
                                Piero Lissoni Chairman, CEO & Founder</p>
                        </div>
                        <p class="card-text fs-5">Living surrounded by nature, staying in the center of city events is
                            possible if you own apartment is designed by  Lissoni & Partners.</p>
                        <p class="card-text fs-5">For more than 30 years Lissoni & Partners, a world - famous
                            full-service   architecture, art direction and design firm, has been working in the style
                            of modern minimalism, devising in a private space maximum of urban comfort.</p>
                        <p class="card-text fs-5">The success of projects all over the world makes Lissoni & Partners a
                            recognized expert   and  a reliable parner in business  for the world’s most influential design companies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team" style="padding-bottom: 0">
        <div class="container">
            <h3 class="display-5">Enzo Enea</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-5" style="margin-right: 25px;}">
                        <img src="{% static 'main/img/developers-5.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5 element-animation">
                        <div>
                            <h5 class="card-title display-6 mb-2">LANDSCAPES</h5>
                            <p class="card-text text-muted fs-3 mb-4">
                                Enzo Enea Landscape Architect</p>
                        </div>
                        <p class="card-text fs-5">Swiss Landscape Architecture firm, ENEA GmbH, founded by an industrial
                            and landscape designer Enzo Enea, is considered as one of the world's leading
                            multi-disciplinary team of professionals, dealing with  residential, commercial and public
                            projects in architecture, landscape architecture, biology and construction.</p>
                        <p class="card-text fs-5">Opened in 2006 in Miami, the ENEA’s division continues to follow its
                            design traditions of perfect fusion of outdoor and indoor space, and  harmony combination of
                            garden-filled grounds with water views.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}