{% extends 'main/layout.html' %}
{% load static %}



{% block title %}<title>Casa Bella - DEVELOPERS</title>{% endblock %}


{% block content %}

     <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-3">Piero Lissoni </h1>
                    <h5>Renowned Italian architect and designer known across the globe for his distinctive, contemporary pieces.</h5>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/piero-lissoni.jpg' %});"></div>
            </div>
        </div>
    </section>

    <div class="page-content section-team">
        <div class="container">
            <h3>Related Group</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'main/img/developers-1.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h5 class="card-title">DEVELOPERS</h5>
                            <p class="card-text">
                                Armani/Casa Residences
                            </p>
                            <br>
                        </div>
                        <p class="card-text">
                            The Related Group has enhanced skylines with iconic developments for over 40 years,
                            transforming ordinary buildings into extraordinary and vibrant residential environments.
                            Related is celebrated for its innovative design, inclusive approach, and enduring quality,
                            through partnerships with world-renowned architects, designers, and artists.
                        </p>
                        <p class="card-text">
                            “Related properties are built through creative collaborations. In every building erected,
                            we’ve brought the best designers, artists, and architects to create a noteworthy addition
                            to the urban landscape.”
                        </p>
                        <p class="card-text">
                            Jorge M. Peréz
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team">
        <div class="container">
            <h3>Alta Developers</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'main/img/developers-2.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h5 class="card-title">DEVELOPER</h5>
                            <p class="card-text">
                                250 Bird</p>
                            <br>
                        </div>
                        <p class="card-text">Alta Developers, led by Principal & CEO Raimundo Onetto, is a South-Florida
                            based real estate development firm behind unique landmark developments located in key
                            neighborhoods including Miami Design District, Brickell, Flagler Village, Boynton Beach,
                            and Edgewater, amongst others. Since its origin in 2012, Alta has strategically helped
                            reshape Florida’s skyline and redefine communities through its commitment to environmental
                            sustainability and cultural integrity, ensuring a continued stature as landmark properties
                            in a particular destination.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team">
        <div class="container">
            <h3>Alta Developers</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'main/img/developers-3.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h5 class="card-title">ARCHITECTURE</h5>
                            <p class="card-text">
                                The Ellipse New Jersey, NJ</p>
                            <br>
                        </div>
                        <p class="card-text">Led by Principals Bernardo Fort-Brescia and Laurinda Spear, Arquitectonica
                            pushes the limits of design with its groundbreaking use of materials, geometry, pattern,
                            and color to create a new kind of humanistic modern design, redefining and elevating
                            Miami’s cityscape since 1977.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team">
        <div class="container">
            <h3>Lissoni & Partners</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'main/img/developers-4.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h5 class="card-title">INTERIORS</h5>
                            <p class="card-text">
                                Piero Lissoni Chairman, CEO & Founder</p>
                            <br>
                        </div>
                        <p class="card-text">Led by Piero Lissoni, Lissoni & Partners has a 30-year history of
                            developing international projects in the fields of architecture, landscape, interior,
                            product, and graphic design, in addition to being responsible for the art direction for
                            some of the world’s most influential design companies. The practice combines a range of
                            expertise with a tailored approach that sets it apart, establishing a stylistic code and
                            visual identity that are clearly and instantly recognizable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content section-team">
        <div class="container">
            <h3>Enzo Enea</h3>
            <hr class="mb-4">
            <div class="mb-5">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="{% static 'main/img/developers-5.jpg' %}" class="img-fluid rounded-start mb-4" alt="">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h5 class="card-title">LANDSCAPES</h5>
                            <p class="card-text">
                                Enzo Enea Landscape Architect</p>
                            <br>
                        </div>
                        <p class="card-text">Enzo Enea is the creator of ENEA GMBH, one of the world’s
                            leading landscape architecture firms, known for its multi-disciplinary team
                            and extraordinary ability to create a striking balance of indoors and out,
                            from custom luxury gardens to public parks. In 2006, Enea opened the firm’s first U.S.
                            division in Miami. The firm’s work includes, among others, residential, commercial,
                            and public projects; it has earned recognition across the globe, and locally, from
                            the Florida Chapter of the American Society of Landscape Architects.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}