{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Casa Bella Tower - Gallery{% endblock %}
{% block activ-gallery %}active{% endblock %}

{% block content %}

<div class="page-content portfolio-block pb-0" id="gallery">
    <div class="container mb-5">
        <h2 class="display-4 text-uppercase mb-5">Gallery</h2>
        <div class="row portfolio-container gallery-1">
            {% for i in gal_img %}
            <div class="col-lg-4 mb-4">
                <figure class="media media-image equal-md-1-1"
                    data-bp='{"imgSrc": "{{ i.gallery_img.url }}" , "parentGalleryClass": "gallery-1" }'>
                    <span style="background-image: url('{{ i.gallery_img.url }}')"></span>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

