{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella - Gallery</title>{% endblock %}
{% block activ-gallery %}active{% endblock %}

{% block content %}
    <div class="page-content portfolio-block pb-0" id="gallery">
        <div class="container mb-5">
                    <h2 class="display-4 mb-5 text-uppercase">Gallery</h2>
                    <div class="row portfolio-container">
                        {% for i in gal_img %}
                            <div class="col-md-4 mb-4">
                                <figure class="media media-image equal-md-1-1" data-bp='{"imgSrc": "{{ i.gallery_img.url }}" , "parentGalleryClass": "gallery-1" }'>
                                    <span style="background-image: url('{{ i.gallery_img.url }}')"></span>
                                        <a href="{{ i.gallery_img.url }}" class="highslide" onclick="return hs.expand(this)"></a>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
        </div>
    </div>


{% endblock %}

