{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella - Home</title>{% endblock %}
{% block activ-home %}active{% endblock %}

{% block content %}
    <section class="section-style" style="padding-bottom: 0">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-4">Welcome to Casa Bella Residences</h1>
                    <p class="fs-4 about-text text-uppercase mb-0">The Art of Italian living By Piero Lissoni</p>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/2block.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/1block.jpg' %}); height: 100vh;"></div>
            </div>
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h3 class="display-4 text-uppercase mb-3">About Us</h3>
                    <p class="fs-4 about-text text-uppercase">The history of our exciting residence</p>
                    <a href="#" class="fs-5 double-border-button text-dark text-uppercase">learn more</a>
                </div>
            </div>
        </div>
    </section>

    <section style="padding-bottom: 5px">
        <div class="text-center element-animation">
            <hr>
            <h4>CasaBella Residences by B&B Italia has collaborated with</h4>
            <h4>the most celebrated Italian artists to curate your home</h4>
            <h4> with select masterworks from the B&B Italia collections.</h4>
            <hr>
        </div>
    </section>

    <section>
        <div class="text-center ">
            <h1 class="display-5 text-uppercase mb-3 element-animation">Amenities</h1>
            <p class="fs-4 about-text text-uppercase">We have prepared all possible amenities for your pleasure.</p>
        </div>
        <div class="block-style">
            <div class="row mx-0">
                <div class="col-lg-3 px-0">
                    <img class="img-fluid" src="{% static 'main/img/3block1.jpg' %}" alt="">
                </div>
                <div class="col-lg-3 px-0">
                    <img class="img-fluid" src="{% static 'main/img/3block2.jpg' %}" alt="">
                </div>
                <div class="col-lg-3 px-0">
                    <img class="img-fluid" src="{% static 'main/img/3block3.jpg' %}" alt="">
                </div>
                <div class="col-lg-3 px-0">
                    <img class="img-fluid" src="{% static 'main/img/3block4.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <a href="{% url 'indoor' %}" class="fs-5 double-border-button text-dark text-uppercase">INDOOR</a>
            <a href="{% url 'outdoor' %}" class="fs-5 double-border-button text-dark text-uppercase">OUTDOOR</a>
        </div>
    </section>


    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h3 class="display-5 text-uppercase mb-3  element-animation">Welcome to <br>Lorem ipsum dolor sit amet.</h3>
                    <a href="{% url 'listings' %}" class="fs-5 double-border-button text-dark text-uppercase">Show listings</a>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/4block.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>

{% endblock %}