{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella - Indoor</title>{% endblock %}
{% block activ-amenities %}active{% endblock %}

{% block content %}
    <section class="section-style" style="padding-bottom: 0">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-5 mb-3">INDOOR AMENITIES</h1>
                    <h3>Casa Bella Residences by B&B Italia offers two complete floors abundant with amenities,
                        including a world-class fitness and wellness center, dedicated entertainment spaces, and a
                        robust business hub. </h3>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/indoor-1.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/indoor-2.jpg' %}); height: 100vh;"></div>
            </div>
            <div class="col-lg-6 info">
                <div class="container text-center fs-4">
                    <ul style="padding-left: 16px">
                        <li style="text-align: left"><p>Adult Lounge</p></li>
                        <li style="text-align: left"><p>Game Room</p></li>
                        <li style="text-align: left"><p>Children’s Playroom, with educational games and smartboard</p></li>
                        <li style="text-align: left"><p>Spacious Party Room overlooking Biscayne Bay</p></li>
                        <li style=" text-align: left"><p>Cinema</p></li>
                        <li style="text-align: left"><p>Wine Room</p></li>
                        <li style="text-align: left"><p>Museum quality art collection</p></li>
                        <li style="text-align: left"><p>Fully equipped Business Center, including conference room</p></li>
                        <li style="text-align: left"><p>Co-working space with a comfortable lounge</p></li>
                        <li style="text-align: left"><p>Pet Spa</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="text-center">
            <hr>
            <h2 class="display-5 mb-2">55TH FLOOR SKY POOL TERRACE OBSERVATORY</h2>
            <p class="fs-4">Soaring 650 feet high, is the rooftop pool and terrace which includes Casa Bella’s private
                observatory—with a state-of-the-art telescope— features extraordinary panoramic views
                of the Biscayne Bay</p>
            <hr>
        </div>

    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0"  style="padding-left: 200px">
            <div class="col-lg-6 info">
                <div class=" ">
                    <h3 class="display-6 mb-3">360 Wellness Center including:</h3>
                    <ul class="fs-4 m-4" style="padding-left: 25px">
                        <li style="text-align: left"><p>Premier fitness center overlooking Biscayne Bay</p></li>
                        <li style="text-align: left"><p>Private yoga room</p></li>
                        <li style="text-align: left"><p>Spin room</p></li>
                        <li style="text-align: left"><p>Spacious Party Room overlooking Biscayne Bay</p></li>
                        <li style="text-align: left"><p>Cinema</p></li>
                        <li style="text-align: left"><p>Wine Room</p></li>
                        <li style="text-align: left"><p>World-class spa, offering a suite of on-demand services </p></li>
                        <li style="text-align: left"><p>Beauty salon with mani-pedi stations</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/indoor-3.jpg' %}); height: 100vh;"></div>
            </div>
        </div>
    </section>


{% endblock %}