{% extends 'main/layout.html' %}
{% load static %}


{% block title %}<title>Casa Bella - Indoor</title>{% endblock %}
{% block activ-amenities %}active{% endblock %}

{% block content %}
    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 mb-3">INDOOR AMENITIES</h1>
                    <br>
                    <h3>Casa Bella Residences by B&B Italia offers two complete floors abundant with amenities,
                        including a world-class fitness and wellness center, dedicated entertainment spaces, and a
                        robust business hub. </h3>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/indoor-1.jpg' %});"></div>
            </div>
        </div>
    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
                            <div class="col-lg px-0">
                    <div class="image-style" style="background-image: url({% static 'main/img/indoor-2.jpg' %});"></div>
                </div>
            <div class="col-lg-6 info">

                <div class="container text-center">
                    <ul  style="padding-left: 100px">
                        <li  class="my-font" style="text-align: left"><h5>Adult Lounge</h5></li>
                        <li style="text-align: left"><h5>Game Room</h5></li>
                        <li style="text-align: left"><h5>Children’s Playroom, with educational games and smartboard</h5></li>
                        <li style="text-align: left"><h5>Spacious Party Room overlooking Biscayne Bay</h5></li>
                        <li style="text-align: left"><h5>Cinema</h5></li>
                        <li style="text-align: left"><h5>Wine Room</h5></li>
                        <li style="text-align: left"><h5>Museum quality art collection</h5></li>
                        <li style="text-align: left"><h5>Fully equipped Business Center, including conference room</h5></li>
                        <li style="text-align: left"><h5>Co-working space with a comfortable lounge</h5></li>
                        <li style="text-align: left"><h5>Pet Spa</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div style="height: 30px;"> </div>
    <section class="mygallery">
        <hr>
        <div style="height: 30px;"> </div>
        <div class="text-center">
            <h2>55TH FLOOR SKY POOL TERRACE OBSERVATORY</h2>
            <br>
            <h5>Soaring 650 feet high, is the rooftop pool and terrace which includes Casa Bella’s private
                observatory—with a state-of-the-art telescope— features extraordinary panoramic views
                of the Biscayne Bay</h5>
        </div>
        <div style="height: 30px;"> </div>
        <hr>
    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0"  style="padding-left: 200px">
            <div class="col-lg-6 info">
                <div class="container" style="padding-left: 230px">
                    <h3>360 Wellness Center including:</h3>
                    <ul>
                        <li  class="my-font" style="text-align: left"><h5>Adult Lounge</h5></li>
                        <li style="text-align: left"><h5>Premier fitness center overlooking Biscayne Bay</h5></li>
                        <li style="text-align: left"><h5>Private yoga room</h5></li>
                        <li style="text-align: left"><h5>Spin room</h5></li>
                        <li style="text-align: left"><h5>Spacious Party Room overlooking Biscayne Bay</h5></li>
                        <li style="text-align: left"><h5>Cinema</h5></li>
                        <li style="text-align: left"><h5>Wine Room</h5></li>
                        <li style="text-align: left"><h5>World-class spa, offering a suite of on-demand services </h5></li>
                        <li style="text-align: left"><h5>Beauty salon with mani-pedi stations</h5></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/indoor-3.jpg' %});"></div>
            </div>
        </div>
    </section>
    <div style="height: 100px;"> </div>

{% endblock %}