{% extends 'main/layout.html' %}
{% load static %}



{% block title %}<title>Casa Bella - Outdoor</title>{% endblock %}


{% block content %}
    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 mb-3">OUTDOOR AMENITIES</h1>
                    <br>
                    <h3>A stunning 12th floor pool deck, featuring Italian-inspired gardens
                        designed by world-renowned landscape architect Enzo Enea, luxury
                        spa, and 78-foot lap pool with incredible views of Biscayne Bay.</h3>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/about-block-1.jpg' %});"></div>
            </div>
        </div>
    </section>

    <section class="section-style">
        <div class="row w-100 align-items-center mx-0">
                            <div class="col-lg px-0">
                    <div class="image-style" style="background-image: url({% static 'main/img/about-block-1.jpg' %});"></div>
                </div>
            <div class="col-lg-6 info">

                <div class="container text-center">
                    <ul  style="padding-left: 200px">
                        <li style="text-align: left"><h5>Poolside bar and Mediterranean café</h5></li>
                        <li style="text-align: left"><h5>Private cabanas and shaded lounge areas</h5></li>
                        <li style="text-align: left"><h5>Towel service and sun-care kiosk</h5></li>
                        <li style="text-align: left"><h5>Open-air yoga lawn</h5></li>
                        <li style="text-align: left"><h5>Pickleball court</h5></li>
                        <li style="text-align: left"><h5>Private dining with dedicated space for outdoor grilling</h5></li>
                        <li style="text-align: left"><h5>World-class artwork throughout common areas</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 100px;"> </div>

{% endblock %}