{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Casa Bella Tower - Outdoor{% endblock %}
{% block activ-amenities %}active{% endblock %}

{% block content %}
    <section class="section-style" style="padding-bottom: 0">
        <div class="row w-100 align-items-center mx-0">
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-5 mb-3">OUTDOOR AMENITIES</h1>
                    <h3>A stunning 12th floor pool deck, featuring Italian-inspired gardens
                        designed by world-renowned landscape architect Enzo Enea, luxury
                        spa, and 78-foot lap pool with incredible views of Biscayne Bay.</h3>
                </div>
            </div>
            <div class="col-lg px-0">
                <div class="image-style" style="background-image: url({% static 'main/img/outdoor-1.jpg' %}); height: 100vh"></div>
            </div>
        </div>
    </section>

    <section class="section-style pb-0">
        <div class="row w-100 align-items-center mx-0">
                            <div class="col-lg px-0">
                    <div class="image-style" style="background-image: url({% static 'main/img/outdoor-2.jpg' %}); height: 100vh"></div>
                </div>
            <div class="col-lg-6 info">

                <div class="container text-center fs-4">
                    <ul style="padding-left: 16px">
                        <p style="text-align: left">- Poolside bar and Mediterranean café</p>
                        <p style="text-align: left">- Private cabanas and shaded lounge areas</p>
                        <p style="text-align: left">- Towel service and sun-care kiosk</p>
                        <p style="text-align: left">- Open-air yoga lawn</p>
                        <p style="text-align: left">- Pickleball court</p>
                        <p style="text-align: left">- Private dining with dedicated space for outdoor grilling</p>
                        <p style="text-align: left">- World-class artwork throughout common areas</p>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}